body {
  font-size: 22px;
}

input[type="text"] {
  margin: 10px 0;
  display: block;
}

/* elements with this tag will not be loaded during slow internet connection until fully mounted*/
[v-cloak] {
  display: none;
}

